[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/double-conversion"]
	path = third_party/double-conversion
	url = https://github.com/google/double-conversion.git
[submodule "third_party/nsync"]
	path = third_party/nsync
	url = https://github.com/google/nsync.git
[submodule "third_party/eigen3"]
	path = third_party/eigen3
	url = https://gitlab.com/libeigen/eigen.git
